@import "../abstract/variables";
@import "../abstract/mixins";

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 12rem;
    @include respond(laptop) {
        padding-right: 9.5rem;
    }
    @include respond(laptop-small) {
        padding-right: 5.5rem;
    }
    height: 80rem;

    &__display {
        width: 50%;
        height: 80rem;

        background: #F6F6FB;
        border-radius: 0px 10px 0px 0px;
        position: relative;

        &--container {
            display: flex;
            flex-direction: column;

            margin: 0;
            position: absolute;
            -ms-transform: translateY(50%);
            transform: translateY(50%);
            padding-left: 12rem;
            @include respond(laptop) {
                padding-left: 9.5rem;
            }
            @include respond(landscapePhone) {
                padding-left: 5rem;
            }
        }
        &--icon {
            position: relative;
            width: 10.6rem;
            height: 10.6rem;
            border-radius: 50%;
            background: #5959B3;

            display: flex;
            align-items: center;
            justify-content: center;

            margin-bottom: 5rem;

            &--quote {
                width: 2.5rem;
                height: 2.5rem;
            }
            &--mesh {
                height: 10rem;
                width: 9rem;
                position: absolute;
                left: -50%;
                top: 40%;

                z-index: -1;
                opacity: 0.5;
            }
        }
        &--text {
            font-weight: 700;
            color: $header-black;
            font-size: 4rem;
            line-height: 5rem;
        }
    }

    &__info {
        width: 50%;
        height: 80rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        padding-left: 12rem;
        @include respond(laptop) {
            padding-left: 9.5rem;
        }
        @include respond(laptop-small) {
            padding-left: 5.5rem;
        }

        text-align: center !important;

        & > h2 {
            font-weight: 600 !important;
            margin-bottom: 2.7rem;
        }
        & > p {
            line-height: 3rem !important;
            padding-bottom: 3.3rem;
            margin-bottom: 4rem;

            border-bottom: 0.5px solid #DEDEDE;
        }
    }
}