@import "../abstract/variables";

.listings {
    margin-bottom: 12rem;

    & > h2 {
        margin-bottom: 5rem;
    }

    &__container {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-row-gap: 6rem;
        justify-content: space-between;

        @include respond(tablet) {
            grid-template-columns: repeat(2, auto);
            justify-content: space-around;
        }

        & > img {
            height: 10rem;
            width: 9rem;
            position: absolute;
            right: -2.75%;
            top: -5%;

            z-index: -1;
            opacity: 0.5;
        }
    }
}