@import "../abstract/variables";

.stat-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    &:not(:last-child) {
        margin-bottom: 8rem;
    }

    &__icon {
        border-radius: 50%;
        background: rgba($teal-primary, 0.1);
        margin-right: 2rem;
        height: 5rem;
        width: 6rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond(tablet) {
            width: 5rem;
        }
        @include respond(landscapePhone) {
            width: 12rem;
            height: 6.75rem;
        }

        & > img {
            height: 2.5rem;
            width: 2.5rem;

            @include respond(landscapePhone) {
                height: 3.5rem;
                width: 3.5rem;
            }
        }
    }

    &__info {

        & > div {
            color: $header-black;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.5rem;

            margin-bottom: 1rem;

            @include respond(landscapePhone) {
                font-size: 3rem;
                margin-bottom: 1.7rem;
            }
        }

        & > p {
            @include respond(tablet) {
                max-width: 55%;
            }
            @include respond(landscapePhone) {
                max-width: 70%;
            }
        }
    }
}