@import "../abstract/variables";
@import "../abstract/mixins";

.team-display {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__images {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 3rem;

        & > img {
            width: 7rem;
            height: 7rem;
            border-radius: 50%;

            @include respond(landscapePhone) {
                width: 10rem;
                height: 10rem;
            }

            &:nth-child(even) {
                width: 5rem;
                height: 5rem;
                opacity: 0.5;

                @include respond(landscapePhone) {
                    width: 7.5rem;
                    height: 7.5rem;
                }
            }
            &:first-child,
            &:last-child {
                width: 3rem;
                height: 3rem;
                opacity: 0.2;

                @include respond(landscapePhone) {
                    width: 5rem;
                    height: 5rem;
                }
            }
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > span {
            font-weight: 700;
            color: #333333;
            font-size: 1.6rem;
            line-height: 2.8rem;

            @include respond(landscapePhone) {
                font-size: 2rem !important;
            }
        }
        & > p {
            font-weight: 300 !important;
            font-size: 1.4rem !important;
            @include respond(landscapePhone) {
                font-size: 1.8rem !important;
            }
        }
    }
}