@import "../abstract/variables";
@import "../abstract/mixins";

*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} 

html {
    font-size: 62.5%;
    @include respond(laptop) {
        font-size: 56%;
    }
    @include respond(tablet) {
        font-size: 48.5%;
    }
    @include respond(landscapePhone) {
        font-size: 43%;
    }
    @include respond(largePhone) {
        font-size: 40%;
    }
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: $font-main;
    background-color: #FFFFFF;
    overflow-x: hidden;
}