@import "../abstract/variables";

.title-header {
    color: $header-black;
    font-weight: 800;
    font-size: 5.5rem;
    line-height: 6.5rem;
}

.title-secondary {
    color: $header-black;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.5rem;
}

.paragraph {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.8rem;
    color: $paragraph-black;
}