@import "../abstract/mixins";

.layout-padding {
    padding-left: 12rem !important;
    padding-right: 12rem !important;

    @include respond(laptop) {
        padding-left: 9.5rem !important;
        padding-right: 9.5rem !important;
    }
    @include respond(laptop-small) {
        padding-left: 5.5rem !important;
        padding-right: 5.5rem !important;
    }
    @include respond(landscapePhone) {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
}

.slider {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-items: center;
    margin: 0 auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; 

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}

.slider-item {
    scroll-snap-align: none;
}